<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ apptitle }}</title>
        <meta name="robots" content="noindex,nofollow" />
        <link rel="stylesheet" href="{{ asset('build/js/ext-js/resources/css/ext-all-gray.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('build/css/timetracker.css') }}" type="text/css">
        <script type="text/javascript" src="{{ asset('build/js/ext-js/ext-all.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/js/ext-js/locale/ext-lang-' ~ locale ~ '.js') }}"></script>
        <script type="text/javascript">
            var url = {{ url('_start')|escape|json_encode|raw }};
        	Ext.onReady(function() {
				var window = Ext.create('Ext.window.Window', {
					title: 'Login',
                    width: 280,
					closable: false,
					modal: true,
					draggable: false,
					items: [
                    {% if error %}
						Ext.create('Ext.panel.Panel', {
							html: "{{ error.message is defined ? error.message : 'Authentication error, please try again.' }}"
						}),
        			{% endif %}
					    Ext.create('Ext.form.Panel', {
					    	bodyPadding: 5,
					    	standardSubmit: true,
					    	url: "{{ path('login_check') }}",
					    	items: [
                            {
                                xtype: 'hiddenfield',
                                name: '_csrf_token',
                                value: '{{ csrf_token('authenticate') }}'
                            },
					    		{
					    			xtype: 'textfield',
					    			fieldLabel: 'Benutzername',
					    			name: '_username',
					    			allowBlank: false,
                                    {% if last_username is defined %}
                                        value: '{{ last_username | e('js') }}',
                                    {% endif %}
                                    listeners: {
                                        specialkey: function (field, e) {
                                            if (e.getKey() == e.ENTER) {
                                                form = field.up('form').getForm();
                                                form.submit();
                                            }
                                        },
                                        afterrender: function (field) {
                                            field.focus(false, 500);
                                            field.inputEl.set({
                                                autocomplete: 'off',
                                                autocorrect: 'off',
                                                autocapitalize: 'off',
                                                spellcheck: 'false'
                                            });
                                        }
                                    }
					    		}, {
					    			xtype: 'textfield',
					    			fieldLabel: 'Passwort',
					    			name: '_password',
					    			inputType: 'password',
					    			allowBlank: false,
					    			listeners: {
					    				specialkey: function(field, e) {
					    					if(e.getKey() == e.ENTER) {
					    						form = field.up('form').getForm();
					    						form.submit();
					    					}
					    				}
					    			}
					    		},
								{
									xtype: 'checkbox',
									fieldLabel: 'Angemeldet bleiben',
									name: '_remember_me',
									allowBlank: true,
                                    checked: true
								}
					    	],
					    	buttons: [
				                {
				                	text: 'Login',
				                	id: 'form-submit',
				                	scope: this,
				                	handler: function(btn) {
				                		var form = btn.up('form').getForm();

				                		if(form.isValid()) {
					                		form.submit();
				                		}
				                	}
				                }
							]
					    })
					]
				});

				window.show();
			});
        </script>
    </head>
    <body>
    </body>
</html>
