<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ apptitle }}</title>
        <link rel="stylesheet" href="{{ asset('bundles/netresearchtimetracker/js/ext-js/resources/css/ext-all-gray.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/netresearchtimetracker/css/timetracker.css') }}" type="text/css">
        <script type="text/javascript">
            var globalConfig = eval("(" + '{{ globalConfig|raw }}' + ")");

            var environment = '{{ environment }}';

            var customersData = eval("(" + '{{ customers|raw }}' + ")");

            var projectsData = eval("(" + '{{ projects|raw }}' + ")");

            var settingsData = eval("(" + '{{ settings|raw }}' + ")");
        </script>
        <script type="text/javascript" src="{{ asset('bundles/netresearchtimetracker/js/ext-js/ext-all.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/netresearchtimetracker/js/ext-js/locale/ext-lang-' ~ locale ~ '.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/netresearchtimetracker/js/main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/netresearchtimetracker/js/Notification.js') }}"></script>
        {% if app.session.flash('error') %}
            <script type="text/javascript">
                alert("{{ app.session.flash('error') }}");
            </script>
        {% endif %}
    </head>
    <body>
		<div id="grid"></div> 
    </body>
</html>
