<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ apptitle }}</title>
        <meta name="robots" content="noindex,nofollow" />
        <link rel="stylesheet" href="{{ asset('bundles/netresearchtimetracker/js/ext-js/resources/css/ext-all-gray.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/netresearchtimetracker/css/timetracker.css') }}" type="text/css">
        <script type="text/javascript" src="{{ asset('bundles/netresearchtimetracker/js/ext-js/ext-all.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/netresearchtimetracker/js/ext-js/locale/ext-lang-' ~ locale ~ '.js') }}"></script>
        <script type="text/javascript">
            var url = {{ url('_start')|escape|json_encode|raw }};
        	Ext.onReady(function() {
				var window = Ext.create('Ext.window.Window', {
					title: 'Login',
                    width: 280,
					closable: false,
					modal: true,
					draggable: false,
					items: [
                    {% for flashMessage in app.session.flashbag.get('error') %}
						Ext.create('Ext.panel.Panel', {
							html: "{{ flashMessage }}"
						}),
        			{% endfor %}
					    Ext.create('Ext.form.Panel', {
					    	bodyPadding: 5,
					    	standardSubmit: true,
					    	url: "{{ path('_login') }}",
					    	items: [
					    		{
					    			xtype: 'textfield',
					    			fieldLabel: 'Benutzername',
					    			name: 'username',
					    			allowBlank: false,
                                    {% if username is defined %}
                                        value: '{{ username }}',
                                    {% endif %}
                                    listeners: {
                                        specialkey: function (field, e) {
                                            if (e.getKey() == e.ENTER) {
                                                form = field.up('form').getForm();

                                                form.submit();
                                            }
                                        },
                                        afterrender: function (field) {
                                            field.focus(false, 500);
                                            field.inputEl.set({
                                                autocomplete: 'off',
                                                autocorrect: 'off',
                                                autocapitalize: 'off',
                                                spellcheck: 'false'
                                            });
                                        }
                                    }
					    		}, {
					    			xtype: 'textfield',
					    			fieldLabel: 'Passwort',
					    			name: 'password',
					    			inputType: 'password',
					    			allowBlank: false,
					    			listeners: {
					    				specialkey: function(field, e) {
					    					if(e.getKey() == e.ENTER) {
					    						form = field.up('form').getForm();
					    						form.submit();
					    					}
					    				}
					    			}
					    		},
								{
									xtype: 'checkbox',
									fieldLabel: 'Angemeldet bleiben',
									name: 'loginCookie',
									allowBlank: true,
                                    checked: true
								}
					    	],
					    	buttons: [
				                {
				                	text: 'Login',
				                	id: 'form-submit',
				                	scope: this,
				                	handler: function(btn) {
				                		var form = btn.up('form').getForm();

				                		if(form.isValid()) {
					                		form.submit();
				                		}
				                	}
				                }
							]
					    })
					]
				});

				window.show();
			});
        </script>
    </head>
    <body>
    </body>
</html>
